.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #121210;

  .logo {
    display: flex;
    font-size: 3rem;
    margin: 0.3rem;
    padding: 0.5rem;
    color: #BAEAE4;
  }
}



.menu {
  color: #BAEAE4;

  .fas {
    display: flex;
    font-size: 3rem;
    margin: 0.3rem auto;
    padding: 0.5rem 2rem;

    &:hover {
      color: #09AAB8;
      cursor: pointer;
      transition: 1.5s
    }
  }

  .menu-items {
    width: 20%;
    position: absolute;
    background-color: #121210;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-link {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 18px;
      text-decoration: none;
      color: #BAEAE4;
      border-top: 1px solid #6A6E6F;
      &:hover {
        color: #09AAB8;
        background-color: #002025;
        transition: 1.5s;
      }
    }

    .menu-hidden {
      display: none;
    }
  }
}



.KeyMenu {
  color: #BAEAE4;

  .fas {
    display: flex;
    font-size: 3rem;
    margin: 0.3rem auto;
    padding: 0.5rem 2rem;

    &:hover {
      color: #09AAB8;
      cursor: pointer;
      transition: 1.5s
    }
  }

  .menu-items {
    position: absolute;
    left: 80%;
    width: 20%;
    position: absolute;
    background-color: #121210;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-link {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 18px;
      text-decoration: none;
      color: #BAEAE4;
      border-top: 1px solid #6A6E6F;
      &:hover {
        color: #09AAB8;
        background-color: #002025;
        transition: 1.5s;
      }
    }

    .menu-hidden {
      display: none;
    }
  }
}
