/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
}
.Home {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Home body {
  margin: 0;
  padding: 0;
  /* more styles */
}
.Home .particles {
  background-color: #121210;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.HomeCard {
  display: flex;
  flex-direction: column;
  margin: 18% auto;
  max-width: 75%;
  width: 100%;
}
.HomeCard .text {
  width: 100%;
  margin: 0 auto;
}
.HomeCard .text h1 {
  font-size: 6rem;
  color: #BAEAE4;
}
.HomeCard .text h1 span {
  color: #09AAB8;
}
.HomeCard .text h2 {
  font-size: 5.5rem;
  color: #BAEAE4;
}
.HomeCard .btn {
  display: flex;
  margin: 3rem auto;
  width: 25%;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 1px 3px 5px 1px #002025;
  text-decoration: none;
  border: 0.5px solid #6A6E6F;
  border-radius: 7px;
  padding: 1rem 0;
  background-color: #BAEAE4;
  color: #121210;
}
.HomeCard .btn i {
  margin-left: 1.5rem;
}
.HomeCard .btn:hover {
  background-color: #09AAB8;
  box-shadow: 3px 5px 7px 3px black;
  transition: 1.5s;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #121210;
}
.navbar .logo {
  display: flex;
  font-size: 3rem;
  margin: 0.3rem;
  padding: 0.5rem;
  color: #BAEAE4;
}
.menu {
  display: flex;
  color: #BAEAE4;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.menu .fas {
  display: flex;
  font-size: 3rem;
  margin: 0.3rem;
  padding: 0.5rem 2rem;
}
.menu .fas:hover {
  color: #09AAB8;
  cursor: pointer;
  transition: 1.5s;
}
.menu .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu .menu-items .menu-link {
  display: flex;
  margin: 1rem;
  padding: 0 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: #BAEAE4;
}
.menu .menu-items .menu-link:hover {
  color: #09AAB8;
  background-color: #002025;
  transition: 1.5s;
}
.KeyMenu {
  display: flex;
  color: #BAEAE4;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.KeyMenu .fas {
  display: flex;
  font-size: 3rem;
  margin: 0.3rem;
  padding: 0.5rem 2rem;
}
.KeyMenu .fas:hover {
  color: #09AAB8;
  cursor: pointer;
  transition: 1.5s;
}
.KeyMenu .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.KeyMenu .menu-items .menu-link {
  display: flex;
  margin: 1rem;
  padding: 0 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: #BAEAE4;
}
.KeyMenu .menu-items .menu-link:hover {
  color: #09AAB8;
  background-color: #002025;
  transition: 1.5s;
}
